body {
  background-color: lightblue;
}

.title-container {
  width: 100%;
  position: relative;
}

.titlePic {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#title {
  position: absolute;
  font-size: 10em;
  color: white;
  z-index: 6;
}

.animalCard {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 30%;
  height: 350px;
  overflow: scroll;
}

.animalPic {
  width: 90%;
  margin: 5%;
}



.deleteZookeeperButton{
  display: inline;
}

.zookeeperDeleteName {
  display: inline;
}
.deleteTrainerButton{
  display: inline;
}

.trainerDeleteName {
  display: inline;
}
.deleteTrickButton{
  display: inline;
}

.trickDeleteName {
  display: inline;
}

a {
  margin-left: 150px;
}
