body {
  background-color: lightblue;
}

.animalCard {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 30%;
  height: 350px;
  overflow: scroll;
}

.animalPic {
  width: 90%;
  margin: 5%;
}

.titlePic {
  width: 50%;
  height: 400px;
  margin-left: 250px;
  /*display: inline;*/
}

#title {
  /*display: inline;*/
  font-size: 5em;
  /*margin: auto;*/
  text-align: center;
}

.deleteZookeeperButton{
  display: inline;
}

.zookeeperDeleteName {
  display: inline;
}
.deleteTrainerButton{
  display: inline;
}

.trainerDeleteName {
  display: inline;
}
.deleteTrickButton{
  display: inline;
}

.trickDeleteName {
  display: inline;
}

a {
  margin-left: 150px;
}
